{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include 'utilitarios/mensagens.html'%}

  <div class="d-flex justify-content-between mb-3">
    <h3 class="mb-0">Cursos</h3>

    <a href="{% url 'cadastros:cadastrar_curso' %}" class="btn btn-sm btn-primary">
      Cadastrar Curso
    </a>
  </div>

  <div class="card card-body shadow pb-1">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Vagas</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for curso in cursos %}
            <tr>
              <td>{{ curso.id }}</td>
              <td>{{ curso.nome }}</td>
              <td>{{ curso.descricao|safe|truncatechars:150 }}</td>
              <td>{{ curso.vagas }}</td>
              <td>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a 
                      href="{% url 'cadastros:editar_curso' curso.pk %}" 
                      class="table-link" 
                      data-bs-toggle="tooltip"
                      data-bs-placement="top" 
                      title="Editar"
                    >
                      <i class="bx bx-edit"></i>
                    </a>
                  </li>

                  <li class="list-inline-item">
                    <a 
                      href="#" 
                      class="table-link" 
                      data-bs-toggle="tooltip" 
                      data-bs-placement="top" 
                      title="Deletar"
                      data-toggle="modal"
                      data-target="#modal-delecao" 
                      onclick="abrirModalDelecao('{{ curso.pk }}')" 
                    >
                      <i class="bx bx-trash-alt"></i>
                    </a>
                  </li>

                  <li class="d-none" id="descricao-{{ curso.id }}">
                    {{ curso.descricao }}
                  </li>

                  <li class="list-inline-item">
                    <a 
                      href="#" 
                      class="table-link" 
                      data-bs-toggle="tooltip" 
                      data-bs-placement="top" 
                      title="Informações"
                      data-toggle="modal"
                      data-target="#modal-informacoes"
                      onclick="abrirModalInformacoes('{{ curso.nome }}', '{{ curso.id }}')"
                    >
                      <i class="bx bx-info-circle"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% include 'utilitarios/paginador_tabela.html' with resultados=cursos paginas=paginas %}
  </div>

  <!-- Modal de informações -->
  <div class="modal fade" id="modal-informacoes" tabindex="-1" aria-labelledby="modal-informacoes-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-informacoes-label">Informações sobre o curso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="mb-0">Nome</h6>
          <p class="text-dark" id="nome-curso"></p>

          <h6 class="mb-0">Vagas</h6>
          <div class="text-dark" id="descricao-curso"></div>

          <h6 class="mb-0">Descrição</h6>
          <div class="text-dark" id="descricao-curso"></div>
        </div>
      </div>
    </div>
  </div>

  {% include "utilitarios/modal_delecao.html" with tipo="Curso" %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'javascript/curso/curso.js' %}"></script>
  <script src="{% static 'javascript/utils/modalDelecao.js' %}"></script>
{% endblock %}