{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""
  />
  <link rel="stylesheet" href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
{% endblock %}

{% block content %}
  {% include 'utilitarios/mensagens.html' %}

  <div class="row">
    <div class="col-xl-4">
      <div class="row">
        <div class="col-12">
          <div class="card shadow mb-3">
            <div class="card-header">
              <h5 class="text-primary mb-0">Dados Gerais</h5>
            </div>
            <div class="card-body">
              <h6 class="mb-0">Nome</h6>
              <p class="text-dark">{{ campus.nome }}</p>
    
              <h6 class="mb-0">Instituição</h6>
              <p class="text-dark mb-0">{{ campus.instituicao.nome }}</p>
            </div>
          </div>
        </div>
  
        <div class="col-12">
          <div class="card shadow mb-3">
            <div class="card-header">
              <h5 class="text-primary mb-0">Endereço</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-8">
                  <h6 class="mb-0">Logradouro</h6>
                  <p class="text-dark">{{ campus.endereco.logradouro }}</p>
                </div>
                <div class="col-lg-4">
                  <h6 class="mb-0">Número</h6>
                  <p class="text-dark">{{ campus.endereco.numero }}</p>
                </div>
                <div class="col-lg-4">
                  <h6 class="mb-0">CEP</h6>
                  <p class="text-dark mb-2 mb-lg-0">{{ campus.endereco.cep }}</p>
                </div>
                <div class="col-lg-4">
                  <h6 class="mb-0">Cidade</h6>
                  <p class="text-dark mb-2 mb-lg-0">{{ campus.endereco.cidade }}</p>
                </div>
                <div class="col-lg-4">
                  <h6 class="mb-0">Estado</h6>
                  <p class="text-dark mb-0">{{ campus.endereco.estado }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12">
          <div class="card shadow mb-3">
            <div class="card-header">
              <h5 class="text-primary mb-0">Descrição</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <p class="text-dark">{{ campus.descricao|safe }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="row">
        <div class="col-xl-3">
          <div class="card card-body border-left-primary py-3 mb-3">
            <h5 class="mb-0">Cursos</h5>
            <h5 class="text-dark mb-0">{{ campus.cursos.count }}</h5>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card card-body border-left-success py-3 mb-3">
            <h5 class="mb-0">Programas</h5>
            <h5 class="text-dark mb-0">{{ campus.programas.count }}</h5>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card card-body border-left-warning py-3 mb-3">
            <h5 class="mb-0">Projetos</h5>
            <h5 class="text-dark mb-0">{{ campus.projetos.count }}</h5>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card card-body border-left-danger py-3 mb-3">
            <h5 class="mb-0">Ações Afirmativas</h5>
            <h5 class="text-dark mb-0">{{ campus.acoes_afirmativas.count }}</h5>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="card shadow mb-3">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="text-primary mb-0">Cursos</h5>
                <a 
                  href="{% url 'cadastros:cadastrar_curso_campus' campus.pk %}"
                  class="btn btn-sm btn-primary"
                >
                  Novo Curso
                </a>
              </div>
            </div>
            <div class="card-body">
              {% if campus.cursos.count > 0 %}
                <div class="table-responsive">
                  <table class="table table-bordered table-hoverable" id="tabela-curso">
                    <thead>
                      <tr>
                        <th scope="col">Curso</th>
                        <th scope="col">Link</th>
                        <th scope="col">Vagas</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for curso_campus in campus.cursos.all %}
                        <tr>
                          <td>{{ curso_campus.curso.nome }}</td>
                          <td>
                            <a href="{{ curso_campus.link }}" target="_blank">Acessar link</a>
                          </td>
                          <td>{{ curso_campus.vagas }}</td>
                          <td>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                <a 
                                  href="{% url 'cadastros:editar_curso_campus' campus.pk curso_campus.pk %}" 
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  title="Editar"
                                >
                                  <i class="bx bx-edit"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a 
                                  href="#" 
                                  id="{% url 'cadastros:deletar_curso_campus' campus.pk curso_campus.pk %}"
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  data-toggle="modal" 
                                  data-target="#modal-delecao"
                                  onclick="abrirModalDelecao(event, 'curso')"
                                  title="Deletar"
                                >
                                  <i class="bx bx-trash-alt"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a
                                  href="#"
                                  class="table-link"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  data-toggle="modal"
                                  data-target="#modal-informacoes"
                                  onclick="abrirModalInformacoes(
                                    '{{ curso_campus.curso.nome }}',
                                    '{{ curso_campus.descricao }}',
                                    '{{ curso_campus.link }}'
                                  )"
                                  title="Informações"
                                >
                                  <i class="bx bx-info-circle"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <h6 class="text-center">Nenhum curso cadastrado.</h6>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="card shadow mb-3">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="text-primary mb-0">Programas</h5>
                <a 
                  href="{% url 'cadastros:cadastrar_programa' campus.pk %}"
                  class="btn btn-sm btn-primary"
                >
                  Novo Programa
                </a>
              </div>
            </div>
            <div class="card-body">
              {% if campus.programas %}
                <div class="table-responsive">
                  <table class="table table-bordered table-hoverable" id="tabela-programa">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Link</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for programa in campus.programas.all %}
                        <tr>
                          <td>{{ programa.nome }}</td>
                          <td>
                            {% if programa.link %}
                              <a href="{{ programa.link }}" target="_blank">Acessar link</a>
                            {% endif %}
                          </td>
                          <td>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                <a 
                                  href="{% url 'cadastros:editar_programa' campus.pk programa.pk %}" 
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  title="Editar"
                                >
                                  <i class="bx bx-edit"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a 
                                  href="#" 
                                  id="{% url 'cadastros:deletar_programa' campus.pk programa.pk %}"
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  data-toggle="modal" 
                                  data-target="#modal-delecao"
                                  onclick="abrirModalDelecao(event, 'programa')"
                                  title="Deletar"
                                >
                                  <i class="bx bx-trash-alt"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a 
                                  href="#" 
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  data-toggle="modal" 
                                  data-target="#modal-informacoes"
                                  onclick="abrirModalInformacoes(
                                    '{{ programa.nome }}',
                                    '{{ programa.descricao }}',
                                    '{{ programa.link }}'
                                  )"
                                  title="Informações"
                                >
                                  <i class="bx bx-info-circle"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <h6 class="text-center">Nenhum programa cadastrado.</h6>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="card shadow mb-3">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="text-primary mb-0">Projetos</h5>
                <a 
                  href="{% url 'cadastros:cadastrar_projeto' campus.pk %}"
                  class="btn btn-sm btn-primary"
                >
                  Novo Projeto
                </a>
              </div>
            </div>
            <div class="card-body">
              {% if campus.projetos %}
                <div class="table-responsive">
                  <table class="table table-bordered table-hoverable" id="tabela-projeto">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Link</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for projeto in campus.projetos.all %}
                        <tr>
                          <td>{{ projeto.nome }}</td>
                          <td>
                            {% if projeto.link %}
                              <a href="{{ projeto.link }}" target="_blank">Acessar link</a>
                            {% endif %}
                          </td>
                          <td>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                <a 
                                  href="{% url 'cadastros:editar_projeto' campus.pk projeto.pk %}" 
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  title="Editar"
                                >
                                  <i class="bx bx-edit"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a 
                                  href="#" 
                                  id="{% url 'cadastros:deletar_projeto' campus.pk projeto.pk %}"
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  data-toggle="modal" 
                                  data-target="#modal-delecao"
                                  onclick="abrirModalDelecao(event, 'projeto')"
                                  title="Deletar"
                                >
                                  <i class="bx bx-trash-alt"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a 
                                  href="#" 
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  data-toggle="modal" 
                                  data-target="#modal-informacoes"
                                  onclick="abrirModalInformacoes(
                                    '{{ projeto.nome }}',
                                    '{{ projeto.descricao }}',
                                    '{{ projeto.link }}'
                                  )"
                                  title="Informações"
                                >
                                  <i class="bx bx-info-circle"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <h6 class="text-center">Nenhum projeto cadastrado.</h6>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="card shadow mb-3">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="text-primary mb-0">Ações Afirmativas</h5>
                <a 
                  href="{% url 'cadastros:cadastrar_acao_afirmativa' campus.pk %}"
                  class="btn btn-sm btn-primary"
                >
                  Nova Ação Afirmativa
                </a>
              </div>
            </div>
            <div class="card-body">
              {% if campus.acoes_afirmativas %}
                <div class="table-responsive">
                  <table class="table table-bordered table-hoverable" id="tabela-acao">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Link</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for acao in campus.acoes_afirmativas.all %}
                        <tr>
                          <td>{{ acao.nome }}</td>
                          <td>
                            {% if acao.link %}
                              <a href="{{ acao.link }}" target="_blank">Acessar link</a>
                            {% endif %}
                          </td>
                          <td>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                <a 
                                  href="{% url 'cadastros:editar_acao_afirmativa' campus.pk acao.pk %}" 
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  title="Editar"
                                >
                                  <i class="bx bx-edit"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a 
                                  href="#" 
                                  id="{% url 'cadastros:deletar_acao_afirmativa' campus.pk acao.pk %}"
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  data-toggle="modal" 
                                  data-target="#modal-delecao"
                                  onclick="abrirModalDelecao(event, 'acao')"
                                  title="Deletar"
                                >
                                  <i class="bx bx-trash-alt"></i>
                                </a>
                              </li>
                              <li class="list-inline-item">
                                <a 
                                  href="#" 
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  data-toggle="modal" 
                                  data-target="#modal-informacoes"
                                  onclick="abrirModalInformacoes(
                                    '{{ acao.nome }}',
                                    '{{ acao.descricao }}',
                                    '{{ acao.link }}'
                                  )"
                                  title="Informações"
                                >
                                  <i class="bx bx-info-circle"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <h6 class="text-center">Nenhuma ação afirmativa cadastrada.</h6>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="text-primary mb-0">Mapa</h5>
            </div>
            <div class="card-body p-0">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de informações -->
  <div class="modal fade" id="modal-informacoes" tabindex="-1" aria-labelledby="modal-informacoes-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-informacoes-label">Informações</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="mb-0">Nome</h6>
          <p class="text-dark" id="info-nome"></p>

          <h6 class="mb-0">Descrição</h6>
          <div class="text-dark" id="info-descricao"></div>

          <div id="info-link-wrapper">
            <h6 class="mb-0">Link</h6>
            <a href="#" id="info-link" target="_blank">Acessar link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de deleção -->
  <div class="modal fade" id="modal-delecao" tabindex="-1" aria-labelledby="modal-delecao-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-delecao-label"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-center mb-0">Você tem certeza que deseja deletar este registro?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <a href="#" id="button-submit" class="btn btn-sm btn-primary">
            Deletar
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {% if campus.cursos.count > 0 %}
    {% include 'utilitarios/config_data_table.html' with tipo="curso" %}
  {% endif %}
  {% if campus.programas %}
    {% include 'utilitarios/config_data_table.html' with tipo="programa" %}
  {% endif %}
  {% if campus.projetos %}
    {% include 'utilitarios/config_data_table.html' with tipo="projeto" %}
  {% endif %}
  {% if campus.acoes_afirmativas %}
    {% include 'utilitarios/config_data_table.html' with tipo="acao" %}
  {% endif %}

  {{ coordenadas|json_script:"coordenadas" }}

  <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <script src="{% static 'javascript/campus/campus.js' %}"></script>
{% endblock %}