{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""
  />
  <link rel="stylesheet" href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
{% endblock %}

{% block content %}
  {% include 'utilitarios/mensagens.html' %}

  <div class="row">
    <div class="col-xl-4">
      <div class="row">
        <div class="col-12">
          <div class="card shadow mb-3">
            <div class="card-header">
              <h5 class="text-primary mb-0">Dados Gerais</h5>
            </div>
            <div class="card-body">
              <h6 class="mb-0">Nome</h6>
              <p class="text-dark">{{ campus.nome }}</p>
    
              <h6 class="mb-0">Instituição</h6>
              <p class="text-dark mb-0">{{ campus.instituicao.nome }}</p>
            </div>
          </div>
        </div>
  
        <div class="col-12">
          <div class="card shadow mb-3">
            <div class="card-header">
              <h5 class="text-primary mb-0">Endereço</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-8">
                  <h6 class="mb-0">Logradouro</h6>
                  <p class="text-dark">{{ campus.endereco.logradouro }}</p>
                </div>
                <div class="col-lg-4">
                  <h6 class="mb-0">Número</h6>
                  <p class="text-dark">{{ campus.endereco.numero }}</p>
                </div>
                <div class="col-lg-4">
                  <h6 class="mb-0">CEP</h6>
                  <p class="text-dark mb-2 mb-lg-0">{{ campus.endereco.cep }}</p>
                </div>
                <div class="col-lg-4">
                  <h6 class="mb-0">Cidade</h6>
                  <p class="text-dark mb-2 mb-lg-0">{{ campus.endereco.cidade }}</p>
                </div>
                <div class="col-lg-4">
                  <h6 class="mb-0">Estado</h6>
                  <p class="text-dark mb-0">{{ campus.endereco.estado }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="row">
        <div class="col-xl-3">
          <div class="card card-body border-left-primary py-3 mb-3">
            <h5 class="mb-0">Cursos</h5>
            <h5 class="text-dark mb-0">{{ campus.cursos.count }}</h5>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card card-body border-left-success py-3 mb-3">
            <h5 class="mb-0">Programas</h5>
            <h5 class="text-dark mb-0">{{ campus.programas.count }}</h5>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card card-body border-left-warning py-3 mb-3">
            <h5 class="mb-0">Projetos</h5>
            <h5 class="text-dark mb-0">{{ campus.projetos.count }}</h5>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card card-body border-left-danger py-3 mb-3">
            <h5 class="mb-0">Ações Afirmativas</h5>
            <h5 class="text-dark mb-0">{{ campus.acoes_afirmativas.count }}</h5>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="card shadow mb-3">
            <div class="card-header">
              <div class="d-flex align-items-center justify-content-between">
                <h5 class="text-primary mb-0">Cursos</h5>
                <a 
                  href="{% url 'cadastros:cadastrar_curso_campus' campus.pk %}"
                  class="btn btn-sm btn-primary"
                >
                  Novo Curso
                </a>
              </div>
            </div>
            <div class="card-body">
              {% if campus.cursos.count > 0 %}
                <div class="table-responsive">
                  <table class="table table-bordered table-hoverable" id="tabela-curso">
                    <thead>
                      <tr>
                        <th scope="col">Curso</th>
                        <th scope="col">Link</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for curso_campus in campus.cursos.all %}
                        <tr>
                          <td>{{ curso_campus.curso.nome }}</td>
                          <td>
                            <a href="{{ curso_campus.link }}" target="_blank">Acessar link</a>
                          </td>
                          <td>
                            <ul class="list-inline mb-0">
                              <li class="list-inline-item">
                                <a 
                                  href="#" 
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  title="Editar"
                                >
                                  <i class="bx bx-edit"></i>
                                </a>
                              </li>
            
                              <li class="list-inline-item">
                                <a 
                                  href="#" 
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  data-toggle="modal" 
                                  data-target="#modal-delecao"
                                  onclick="abrirModalDelecao('{{ campus.pk }}')"
                                  title="Deletar"
                                >
                                  <i class="bx bx-trash-alt"></i>
                                </a>
                              </li>
            
                              <li class="list-inline-item">
                                <a 
                                  href="#" 
                                  class="table-link" 
                                  data-bs-toggle="tooltip" 
                                  data-bs-placement="top" 
                                  title="Informações"
                                >
                                  <i class="bx bx-info-circle"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <h6 class="text-center">Nenhum curso cadastrado.</h6>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="card shadow mb-3">
            <div class="card-header">
              <h5 class="text-primary mb-0">Programas</h5>
            </div>
            <div class="card-body">
              {% if campus.programas %}

              {% else %}
                <h6 class="text-center">Nenhum programa cadastrado.</h6>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="card shadow mb-3">
            <div class="card-header">
              <h5 class="text-primary mb-0">Projetos</h5>
            </div>
            <div class="card-body">
              {% if campus.projetos %}

              {% else %}
                <h6 class="text-center">Nenhum projeto cadastrado.</h6>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="card shadow mb-3">
            <div class="card-header">
              <h5 class="text-primary mb-0">Ações Afirmativas</h5>
            </div>
            <div class="card-body">
              {% if campus.acoes_afirmativas %}

              {% else %}
                <h6 class="text-center">Nenhuma ação afirmativa cadastrada.</h6>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="text-primary mb-0">Mapa</h5>
            </div>
            <div class="card-body p-0">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {% include 'utilitarios/config_data_table.html' with tipo="curso" %}

  {{ coordenadas|json_script:"coordenadas" }}

  <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <script>
    const coordenadas = JSON.parse(document.getElementById('coordenadas').textContent);

    const map = L.map('map').setView([coordenadas.latitude, coordenadas.longitude], 15);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoieHVuaXRvIiwiYSI6ImNrd3d2c2Z4NjA3NjczNHF0b2JwcnZ5OXMifQ.6u3NKOX3gQlF1Yo1_7L12g'
    }).addTo(map);

    L.marker([coordenadas.latitude, coordenadas.longitude]).addTo(map);
  </script>
{% endblock %}