{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% include 'utilitarios/mensagens.html'%}

  <div class="d-flex justify-content-between mb-3">
    <h3 class="mb-0">Câmpus</h3>

    <a href="{% url 'cadastros:cadastrar_campus' %}" class="btn btn-sm btn-primary">
      Cadastrar Câmpus
    </a>
  </div>

  <div class="card card-body shadow pb-1">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Instituição</th>
            <th scope="col">Endereço</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for campus in lista_campus %}
            <tr>
              <td>{{ campus.id }}</td>
              <td>{{ campus.nome }}</td>
              <td>{{ campus.instituicao.nome }}</td>
              <td>{{ campus.endereco }}</td>
              <td>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a 
                      href="{% url 'cadastros:editar_campus' campus.pk %}" 
                      class="table-link" 
                      data-bs-toggle="tooltip" 
                      data-bs-placement="top" 
                      title="Editar"
                    >
                      <i class="bx bx-edit"></i>
                    </a>
                  </li>

                  <li class="list-inline-item">
                    <a 
                      href="#" 
                      class="table-link" 
                      data-bs-toggle="tooltip" 
                      data-bs-placement="top" 
                      data-toggle="modal" 
                      data-target="#modal-delecao"
                      onclick="abrirModalDelecao('{{ campus.pk }}')"
                      title="Deletar"
                    >
                      <i class="bx bx-trash-alt"></i>
                    </a>
                  </li>

                  <li class="list-inline-item">
                    <a 
                      href="{% url 'cadastros:detalhes_campus' campus.pk %}" 
                      class="table-link" 
                      data-bs-toggle="tooltip" 
                      data-bs-placement="top" 
                      title="Informações"
                    >
                      <i class="bx bx-info-circle"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% include 'utilitarios/paginador_tabela.html' with resultados=lista_campus paginas=paginas %}
  </div>

  {% include "utilitarios/modal_delecao.html" with tipo="Câmpus" %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'javascript/utils/modalDelecao.js' %}"></script>
{% endblock %}