<script>
  $(document).ready(function(){
    $('#tabela-{{ tipo }}').DataTable(
      {
        language: {
          search: "Pesquisa:",
          searchPlaceholder: "Faça uma pesquisa",
          info: "Mostrando _START_ até _END_ de _TOTAL_ registros",
          infoEmpty: "Mostrando 0 até 0 de 0 registros",
          infoFiltered: "(filtrado do total de _MAX_ registros)",
          emptyTable: "Nenhum registro encontrado",
          zeroRecords: "Nenhum resultado encontrado",
          processing: "Processando...",
          loadingRecords: "Carregando...",
          lengthMenu: "Mostrar _MENU_ registros",
          paginate: {
            first: "Primeiro",
            last: "Último",
            next: "<i class=\"mdi mdi-chevron-right\">",
            previous: "<i class=\"mdi mdi-chevron-left\">"
          }
        },
        lengthMenu: [[10, 25, 50, 100, 500], [10, 25, 50, 100, 500]],
        searching: false,
      }
    );

    // Adicionando novas classes para melhor estilização
    $('.dataTables_wrapper').children().last().addClass('align-items-center');
    $('.dataTables_paginate').children().addClass('pagination-sm');
    $('.dataTables_info').addClass('text-sm');
    
    $('#tabela-{{ tipo }}_wrapper').children()[0].id = 'filtro-tabela';
  });
</script>