{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  {% include 'utilitarios/mensagens.html' %}
  
  <h3>{{ tipo }} de Ação Afirmativa</h3>

  <div class="card card-body shadow mb-3">
    <form method="POST" id="form-acao-afirmativa">
      {% crispy form %}
    </form>
  </div>

  <div class="d-flex justify-content-end">
    <button 
      type="button" 
      class="btn btn-sm btn-secondary" 
      data-toggle="modal" 
      data-target="#modal-cancelamento"
    >
      Cancelar
    </button>
    <button type="submit" form="form-acao-afirmativa" class="btn btn-sm btn-primary ml-2">
      Cadastrar
    </button>
  </div>

  {% include 'utilitarios/modal_cancelamento.html' %}
{% endblock %}